/* GLOBAL */
* {box-sizing: border-box;}

/* font sizes */
html {font-size: 62.5%;}
h1 {font-size: 3.4rem;}
h2 {font-size: 3.2rem;}
div, p, ul, ol, li {font-size: 2.4rem;}
small {font-size: 1.2rem;}

body {
    margin: 0;
    min-height: 100dvh;
    width: 100%;
    font-family: monospace;
    overflow-x: hidden;
}

/* FLEXBOX */
.flex {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}

.flex {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}

.flex-col {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.align-center {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.space-evenly {
    -moz-justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-justify-content: space-evenly;
    justify-content: space-evenly;
}

.space-around {
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

.justify-center {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

/* CUSTOM FONTS */
@font-face {
    font-family: 'Blood';
    src: url('/assets/fonts/Slime\ and\ Blood.ttf');
}

@font-face {
    font-family: 'Emo';
    src: url(/assets/fonts/Sripnoxhz.ttf);
}

@font-face {
    font-family: 'Web';
    src: url(/assets/fonts/mostean.regular.ttf);
}

@font-face {
    font-family: 'Cake';
    src: url(/assets/fonts/eracake.regular.ttf);
}

.cake-font {font-family: 'Cake', monospace;}

.web-font {font-family: 'Web', monospace;}

.emo-font {
    font-family: 'Emo', monospace;
}

.blood-font {
    font-family: 'Blood', monospace;
}

/* STYLES */
#takeTheBoat {
    margin:0;
}

#click {
    font-family: monospace; 
    font-size: 1.2rem;
    position: relative;
    bottom: 2.5rem;
}

/* GIF STYLING */
#boat {
    box-sizing: content-box;
    transform: scaleX(-1);
    padding: 2rem;
    height: 18rem;
}

#boat:hover {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}

/* ANIMATIONS */
#body::after {
    content: '';
    position: absolute;
    top: 60%; 
    left: -15rem;
    width: 20rem;
    height: 20rem;
    background: url('/assets/images/mermaid.gif') no-repeat center center; 
    background-size: contain;
    animation: swimRight 10s linear infinite;
}

#main::after {
    content: '';
    position: absolute;
    top: 80%; 
    width: 25rem;
    height: 25rem;
    background: url('/assets/images/merman.webp') no-repeat center center; 
    background-size: contain;
    animation: swimLeft 12s linear infinite;
}

#main::before {
    content: '';
    position: absolute;
    width: 15rem;
    height: 15rem;
    background: url('/assets/images/catmaid.webp') no-repeat center center; 
    background-size: contain;
    animation: topRightToBottom 15s linear infinite;
    transform: scaleX(-1);
}

#div::before {
    content: '';
    position: absolute;
    width: 25rem;
    height: 25rem;
    background: url('/assets/images/mermaid4.webp') no-repeat center center; 
    background-size: contain;
    animation: swimTopRightToTopLeft 20s linear infinite;
}

#div::after {
    content: '';
    position: absolute;
    top: 50rem;
    width: 25rem;
    height: 25rem;
    background: url('/assets/images/mermaid5.webp') no-repeat center center; 
    background-size: contain;
    animation: swimLeftMiddle 10s linear infinite;
}

#boat-div::before {
    content: '';
    position: absolute;
    top: 50rem;
    width: 25rem;
    height: 25rem;
    transform: scaleX(-1);
    background: url('/assets/images/merman2.webp') no-repeat center center; 
    background-size: contain;
    animation: swimTopRight 12s linear infinite;
    overflow: hidden   
}

/* KEYFRAMES */
@keyframes swimRight {
    0% {
        left: -10rem;
        top: 50%;
    }
    50% {
        left: 50%;
        top: 5%;
    }
    100% {
        left: 100%;
        top: 50%;
    }
}

@keyframes swimTopRight {
    0% {
        left: -10rem;
        top: 40%;
    }
    50% {
        left: 20%;
        top: 60%;
    }
    100% {
        left: 100%;
        top: 10%;
    }
}

@keyframes swimLeft {
    0% {
        left: 100%;
        top: 50%;
    }
    50% {
        left: 50%;
        top: 70%;
    }
    100% {
        left: -15rem; 
        top: 10%;
    }
}

@keyframes swimLeftMiddle {
    0% {
        left: 100%;
        top: 40%;
    }
    50% {
        left: 50%;
        top: 60%;
    }
    100% {
        left: -15rem; 
        top: 70%;
    }
}

@keyframes topRightToBottom {
    0% {
        left: -5rem;
        top: 10%;
    }
    50% {
        left: 50%;
        top: 80%;
    }
    100% {
        left: 100%;
        top: 150%;}
}

@keyframes swimTopRightToTopLeft {
    0% {
        left: 100%; 
        top: 10%; 
    }
    50% {
        left: 60%; 
        top: 30%; 
    }
    100% {
        left: -15rem;
        top: 5%;
    }
}

/* SLICE OF UNIVERSE PAGE */

/* main h1 */
#rai {
    font-size: 6rem;
    margin:1rem 0;
}

/* background */
#bubbles {
    background: url(/assets/images/bubbles.gif);
}

/* sections with solid white border */
.candy-nav, #main-container header, #main-container, .chatbox-container, .the100, .apocalypse, #bio, #garden, .collage-section {
    border: 1px dashed white;
}

#main-container {
    margin-top: 2rem;
    width: 90rem;
    color: white;
    background: black;
    /* height: 100dvh; */
}

    #main-container header {
        text-align:center;
        padding: 0;
        margin: 2rem;
    }
        #main-container header p {
            margin:1rem 0;
        }

/* nav link styles */  
.candy-nav {
    margin: 0 2rem 2rem 2rem;
    height: 50rem;
}

.candy-nav ul {
    margin:0;
    padding:1rem;
}

    .candy-nav li {
        list-style: none;
    }

        .candy-link {
            display: inline-block;
            width: 9.5rem;
            height: 9.5rem;
            background: url('/assets/images/candyheart.png') no-repeat center center;
            background-size: cover;
            text-align: center;
            line-height: 9rem;
            font-size: 1.6rem;
            font-weight: bold;
            color: black;
            text-decoration: none; 
        }
        
            .candy-link:hover {
            transform: rotate(10deg);
            filter: drop-shadow(0 0 1rem rgba(255, 182, 193, 0.8));
            }

                .candy-link:active {
                transform: scale(0.95) rotate(0);
                }  

/* Chatbox */
.chatbox-container {
    height: 50rem;
    margin: 0 2rem;
    background: url(/assets/images/pinksparkles.webp);
}
    .chatbox-container iframe {
        height: 50rem;
    }

/* Bio/Intro */
#bio, #bio p {
    margin:0;
    height: 25rem;
    width:40rem;
}

    #bio p {
        font-size: 1.8rem;
        padding: 1rem;
    }

/* Garden */
#garden {
    margin: 2rem 0;
    padding: 2rem 0;
}

    #garden h2 {
        font-size: 4rem; 
        margin:0 0 3rem 0;
        color: rgb(109, 214, 109);
        text-align: center;
    }

        .planter {
            border: 1rem solid rgb(247, 130, 247);
            background-color: rgb(71, 16, 16);
            height: 12rem;
            width: 12rem;
        }
            .plant {
                position: relative;
                height: 12rem;
            }
            .plant1 {
                bottom: 4rem;
            }
                .plant2 {
                    bottom: 4rem;
                    left: 1.5rem;
                }

                    .plant3 {
                        bottom: 8rem;
                        height: 15rem;
                        right: 1rem;
                    }

/* The 100 & Apocalypse Box */
.the100 {
    height: 30rem;
    width: 40rem;
    margin: 0 2rem;
}
    .the100 p {
        margin:0;
        font-size: 1.6rem;
        padding: 1rem;
        background: rgba(0, 0, 0, 0.535);
    }

        .apocalypse {
            height: 10rem;
            margin: 2rem 0;
            background: url(/assets/images/boom.gif)  no-repeat center, url(/assets/images/boom2.webp) no-repeat left, url(/assets/images/boom2.webp) no-repeat right, url(/assets/images/fire2.webp), url(/assets/images/fire.avif);
            background-size: contain;
        }

/* collage section */
.collage-section {
    height: 40rem;
}

/* underwater background */
#main {
    background: linear-gradient(to bottom, rgb(154, 241, 219), rgb(106, 155, 213), darkblue);
    background: url(/assets/images/underwater.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

    /* MEDIA QUERIES */
    @media all and (max-width: 1030px) {
        #main-container {
            width: 80rem;
        }
    }

    @media all and (max-width: 820px) {
        #main-container {
            width: 70rem;
        }
    }

    @media all and (max-width: 740px) {
        #main-container {
            width: 60rem;
        }
    }

    @media all and (max-width: 630px) {
        #main-container {
            width: 50rem;
        }
    }

    @media all and (max-width: 515px) {
        #main-container {
            width: 40rem;
            height: 90rem;
        }
    }

    @media all and (max-width: 430px) {
        #main-container {
            width: 35rem;
            height: 90rem;
        }
    }

    @media all and (max-width: 320px) {
        #main-container {
            width: 25rem;
            height: 90rem;
        }
    }