/* GLOBAL */
* {box-sizing: border-box;}

/* font sizes */
html {font-size: 62.5%;}
h1 {font-size: 3.4rem;}
h2 {font-size: 3.2rem;}
div, p, ul, ol, li {font-size: 2.4rem;}
small {font-size: 1.2rem;}

body {
    margin: 0;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    font-family: monospace;
}

/* FLEXBOX */
.flex {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}

.flex {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}

.flex-col {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.align-center {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.space-evenly {
    -moz-justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-justify-content: space-evenly;
    justify-content: space-evenly;
}

.space-around {
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

.justify-center {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

/* CUSTOM FONTS */
@font-face {
    font-family: 'Blood';
    src: url('/assets/fonts/Slime\ and\ Blood.ttf');
}

@font-face {
    font-family: 'Emo';
    src: url(/assets/fonts/Sripnoxhz.ttf);
}

@font-face {
    font-family: 'Web';
    src: url(/assets/fonts/mostean.regular.ttf);
}

.web-font {font-family: 'Web', monospace;}

.emo-font {
    font-family: 'Emo', monospace;
}

.blood-font {
    font-family: 'Blood', monospace;
}

/* STYLES */
#takeTheBoat {
    margin:0;
}

#click {
    font-family: monospace; 
    font-size: 1.2rem;
    position: relative;
    bottom: 2.5rem;
}

/* GIF STYLING */
#boat {
    box-sizing: content-box;
    transform: scaleX(-1);
    padding: 2rem;
    height: 18rem;
}

#boat:hover {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}

/* ANIMATIONS */
#body::after {
    content: '';
    position: absolute;
    top: 60%; 
    left: -15rem;
    width: 20rem;
    height: 20rem;
    background: url('/assets/images/mermaid.gif') no-repeat center center; 
    background-size: contain;
    animation: swimRight 10s linear infinite;
}

#main::after {
    content: '';
    position: absolute;
    top: 80%; 
    width: 25rem;
    height: 25rem;
    background: url('/assets/images/merman.webp') no-repeat center center; 
    background-size: contain;
    animation: swimLeft 12s linear infinite;
}

#main::before {
    content: '';
    position: absolute;
    width: 15rem;
    height: 15rem;
    background: url('/assets/images/catmaid.webp') no-repeat center center; 
    background-size: contain;
    animation: topRightToBottom 15s linear infinite;
    transform: scaleX(-1);
}

#div::before {
    content: '';
    position: absolute;
    width: 25rem;
    height: 25rem;
    background: url('/assets/images/mermaid4.webp') no-repeat center center; 
    background-size: contain;
    animation: swimTopRightToTopLeft 20s linear infinite;
}

/* KEYFRAMES */
@keyframes swimRight {
    0% {
        left: -15rem;
        top: 50%;
    }
    50% {
        left: 50%;
        top: 20%;
    }
    100% {
        left: 100%;
        top: 50%;
    }
}

@keyframes swimLeft {
    0% {
        left: 100%;
        top: 50%;
    }
    50% {
        left: 50%;
        top: 70%;
    }
    100% {
        left: -15rem; 
        top: 10%;
    }
}

@keyframes topRightToBottom {
    0% {
        left: -15rem;
        top: 10%;
    }
    50% {
        left: 60%;
        top: 50%;
    }
    100% {
        right: 20%;
        top: 150%;
    }
}

@keyframes swimTopRightToTopLeft {
    0% {
        left: 100%; 
        top: 10%; 
    }
    50% {
        left: 60%; 
        top: 1%; 
    }
    100% {
        left: -15rem;
        top: 5%;
    }
}

/* SLICE OF UNIVERSE PAGE */

/* main h1 */
#rai {
    font-size: 6rem;
    margin:1rem 0;
}

/* background */
#bubbles {
    background: url(/assets/images/bubbles.gif);
}

/* sections with solid white border */
.candy-nav, #main-container header, #main-container {
    border: 1px solid white;
}

#main-container {
    margin-top: 2rem;
    height: 80rem;
    width: 90rem;
    color: white;
    background: black;
}

    #main-container header {
        text-align:center;
        padding: 0;
        margin: 2rem;
    }
        #main-container header p {
            margin:1rem 0;
        }

/* nav link styles */  
.candy-nav {
    margin: 0 2rem 2rem 2rem;
}

.candy-nav ul {
    margin:0;
    padding:1rem;
}

    .candy-nav li {
        list-style: none;
    }

        .candy-link {
            display: inline-block;
            width: 9.5rem;
            height: 9.5rem;
            background: url('/assets/images/candyheart.png') no-repeat center center;
            background-size: cover;
            text-align: center;
            line-height: 9rem;
            font-size: 1.6rem;
            font-weight: bold;
            color: black;
            text-decoration: none; 
        }
        
            .candy-link:hover {
            transform: rotate(10deg);
            filter: drop-shadow(0 0 1rem rgba(255, 182, 193, 0.8));
            }

                .candy-link:active {
                transform: scale(0.95) rotate(0);
                }  
  
/* underwater background */
#main {
    background: url(/assets/images/underwater.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

    

    /* MEDIA QUERIES */
    @media all and (max-width: 1030px) {
        #main-container {
            width: 80rem;
        }
    }

    @media all and (max-width: 820px) {
        #main-container {
            width: 70rem;
        }
    }

    @media all and (max-width: 740px) {
        #main-container {
            width: 60rem;
        }
    }

    @media all and (max-width: 630px) {
        #main-container {
            width: 50rem;
        }
    }

    @media all and (max-width: 515px) {
        #main-container {
            width: 40rem;
            height: 90rem;
        }
    }

    @media all and (max-width: 430px) {
        #main-container {
            width: 35rem;
            height: 90rem;
        }
    }

    @media all and (max-width: 320px) {
        #main-container {
            width: 25rem;
            height: 90rem;
        }
    }